<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript">
        var username={{username}};
    </script>

</head>
<body>

<style>
    #periscope{
        width: 30em; border: 1em solid silver; background: whitesmoke; border-radius: 1em; text-align: center; }
    #heart{ display: block; text-align: center; font-size: 16em; font-weight: bold; color: #0099ff; }
    .metrics{ font-weight: bold; font-size: 6em; color: white; background: hotpink; border-radius: 2em; padding: .2em; display: block; }
</style>

<div id="periscope">
    <h1>{{username}}</h1>
    <span id="heart">&hearts;</span>
    <span class="metrics">Hearts: {{hearts}}</span>
    <span class="metrics">Followers: {{followers}}</span>
    <span class="metrics">Following: {{following}}</span>
</div>

</body>
</html>